header{
    background-image: url('../images/shaian-ramesht-exSEmuA7R7k-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
}

header h1{
    margin: 10%;
    color:black;
    font-size: xx-large;
       }
    .landing h1, p{
        padding: 6px;
        color: black;
        font-weight: 400;
        font-size: xx-large;
    }
