header{
    background-image: url('../images/shaian-ramesht-exSEmuA7R7k-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top:17%; 
    font-family: 'Gabriela', serif;
}

header h1{
    margin: 10%;
    color:#ffa500;
       }
    .landing-page{
        padding: 6px;
        color: black;
        font-weight: 400;
        font-size:xx-large;
    }
   

#about-us{
    min-height: 70vh;
    align-items: center;
  
  }
 
 h2{
    color:#ffa500;
}
    
#about-us .float-right{
    padding: 65px 50px 85px;
    width: 100%;
    background-color: #ffa500;
    float:right;
    text-align: justify;
    overflow-x: hidden;
  }
  * {box-sizing:border-box}

#contact{
    background-color: #ffa500;
}
footer h2{
    color: black;
}